* {
    margin: 0;
    border-style: none;
    font-family: serif, monospace, Sans-serif;
    
  }
  a {
    color: black;
  }
  
  html {
    scroll-behavior: smooth;
  }
  body {
    background-image: linear-gradient(90deg, black 15%, white);
  }
  
  #main {
    width: 50%;
    margin: auto;
  }
  
  #image {
    height: 100%;
    width: 20%;
    position: fixed;
    opacity: 0.17;
  }
  
  #navbar li {
    display: inline-block;
    margin: 10px;
    font-size: 30px;
    border-left: 1px solid black;
  }
  
  
  a {
    text-decoration: none;
  }
  ul {
    list-style-type: none;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    text-align: right;
    z-index: 1;
    overflow: hidden;
  }
  
  li a.active {
    background-color: #1D1E22;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: grey;
    color: white;
  }
  
  #welcome-section {
    height: 100vh;
    padding: 0 0 10% 0;
    }
  
  #welcome-section > h1 {
    position: relative;
    top: 40%;
    width: 40%;
    margin: auto;
    
  }
  
  .project-tile:hover {
    background-color: grey;
    color: white;
    scale: 120%;

  }
  #projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    height: 100vh;
    border-top: 1px solid black;
  }
  .project-tile {
    height: 190px;
    width: 190px;
    border: 1px solid black;
    border-radius: 20%;
    box-shadow: 10px 10px;
    
   
  }
  .project-tile  h2 {
    position: relative;
    top: 35%;
    
  }
  
  .large {
    font-size: 100px;
    font-weight: 100px;
  }
  .center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  
  .right {
    text-align: right;
  }
  
  #socials {
    text-align: center;
  }
  
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    
  }
  
  .fa-linkedin {
    background: black;
    color: white;
    border-radius: 30px 0;
  }
  .fa:hover {
    scale: 120%;
  }
  
  #spacer {
    height: 400px;
    width: 100%;
  }
  footer {
    width: 50%;
    margin: auto;
  }
  
  @media screen and (max-width: 800px) {
    #navbar li {
      display: block;
    margin: 10px;
    font-size: 30px;
    border-left: 1px solid black;
    text-align: left;
    }
    li {
      width: 100%;
    }
   
    ul {
      width: 40%;
    }
    a {
      color: white;
    }
    a.nav-link {
      width: 100%;
    }
    .large {
    font-size: 50px;
  }
    .project-tile {
      scale: 70%;
    }
  }
  
  @media screen and (max-width: 400px) {
    footer {
      display: none;
    }
  }
  
  
  